/* GLOBAL SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Acme', sans-serif;
}
body {
  background-color: #cecece;
  margin-top: 30px;
  background-color: #cecece;
}
/* CONTAINER */
.container {
  border: 1px solid black;
  border-radius: 15px;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
}
/* HEADER */
.header {
  width: 380px;
  height: 200px;
  background-image: url('img/intro1.jpg');
  background-size: cover;
  opacity: 0.9;
  border-radius: 15px;
  position: relative;
  margin-bottom: 10px;
}
.erase {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 10px 10px;
}
.erase i {
  font-size: 25px;
  color: white;
}
.erase i:hover {
  cursor: pointer;
  transform: rotate(60deg);
  transition-duration: 1.5s;
}
/* DATE */
/* Content */
.content {
  width: 380px;
  height: 350px;
  background-color: #fefefe;
  overflow: auto;
  border-radius: 15px;
}
.content::-webkit-scrollbar {
  display: none;
}
.content ul {
  padding: 10px 10px;
  font-size: 20px;
}
#lista {
  list-style: none;
  width: 380px;
  min-height: 50px;
}
#lista li {
  padding: 5px 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #c4f427;
}
#lista i {
  padding: 5px 5px;
  cursor: pointer;
}
span {
  cursor: pointer;
  margin-right: 20px;
  border-right: 1px solid red;
}
span > .fas:hover {
  color: #fefefe;
  font-size: 25px;
  transition-duration: 0.5s;
}
/* ADD ITEM */
.add {
  width: 380px;
  height: 40px;
  background-color: white;
  padding: 10px 10px;
  position: relative;
  border-radius: 15px;
  margin-top: 10px;
}
.add i {
  position: absolute;
  top: 0;
  margin-top: 5px;
  font-size: 30px;
  color: red;
  cursor: pointer;
}
.add i:hover {
  font-size: 34px;
  transition-duration: 0.6s;
}
.add input {
  position: absolute;
  left: 40px;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding-left: 40px;
}
input:focus {
  outline: none;
}
